body {

	background-image:url('bg.png');
	margin:0;
	font-family: "Open Sans";
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

}

#header {

	background-image:url('header.png');
	background-position:center;
	border-radius:2px;
	border:3px solid white;
	height:180px;
	width:800px;
	margin-top:6%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;	
	color:black;
	text-shadow: 0 3px rgba(0,0,0,0.2);
	box-shadow: inset 0 -3px rgba(0,0,0,0.3);

}

#header #logo {

	color:black;
	font-size:50px;
	font-shadow: 0 3px rgba(0,0,0,0.2);
	margin-top:7%;
	opacity:0.6;
	transition-duration:0.7s;

}

#header #logo:hover {

	opacity:1;
	transition-duration:0.7s;

}

#box {

	background:white;
	height:auto;
	width:786px;
	padding:10px;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
	border-radius:2px;

}

#strich {

	margin-top:3px;
	margin-bottom:3px;
	border-bottom:1px dashed rgba(0,0,0,0.2);

}

#user_box {

	height:50px;
	width:50px;
	margin-right:10px;
	float:left;
	border:1px solid #efefef;
	overflow:hidden;

}

#user_box img {

	margin-left:-8px;
	margin-top:-12px;
	transition-duration:0.5s;
	cursor:pointer;

}

#user_box img:hover {

	margin-left:-8px;
	margin-top:-16px;
	transition-duration:0.5s;
}

#box_rgba {

	background:rgba(0,0,0,0.3);
	height:auto;
	width:786px;
	padding:10px;
	color:white;
	text-align:center;
	border-radius:2px;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
	font-size:14px;

}

#box_rgba a{

	color:white;
	text-decoration:none;
	font-weight:bold;

}